/**
 * Live Chat
 */


.live-chat-container {
}

.live-chat__title {
	cursor: pointer;
	padding: 0 12px;

	background: $blue-medium;
	border-bottom: 1px solid darken( $blue-medium, 5% );
	color: $white;
	flex: 0 0 auto;
	height: 46px;
	line-height: 46px;
	display: flex;
	align-items: center;

	.live-chat__active-toolbar {
		display: flex;
		flex: 1 1 auto;

		:first-child {
			flex: 1;
			margin-left: 12px;
		}

		svg {
			padding: 11px;
			cursor: pointer;
		}

		svg:hover {
			background: lighten( $blue-medium, 5% );
		}

	}

}


/**
 * Collapsed button @todo: move to bottom of sidebar
 */

.live-chat {
	position: fixed;
	bottom: 12px;
	right: 30px;
	font-size: 14px;
}


/**
 * Panel mode
 */

.live-chat.open {
	background: lighten( $gray, 30% );
	width: 280px;
	bottom: 0;

	.live-chat__title {
		cursor: default;
		padding: 0;
	}

}


/**
 * Sidebar mode
 */

@include breakpoint( ">1040px" ) {

	.live-chat.open {
		position: inherit;
		height: 100%;
		bottom: auto;
		right: auto;
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		border-left: 1px solid lighten( $gray, 25% );
	}

}

.live-chat-conversation {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	position: relative;

	&::before {
		content: '';
		flex: 1 1 auto;
	}

	// experiment: style scrollbars
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: lighten( $gray, 10% );
		border: 3px solid lighten( $gray, 30% );

		&:hover {
			background: $gray;
		}

	}

}

.live-chat-loading {
	flex: 1 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.live-chat-welcome {
	flex: 1 auto;
	padding: 16px;
	color: $gray-dark;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	p {
		margin: 0;
		padding: 0;
	}
}

.live-chat-composer {
	display: flex;
	padding: 8px;
	flex: 0 0 auto;
}

.live-chat-message {
	flex: 1 1 auto;
	background: $white;
	border-radius: 4px;
	border: 0;

	> textarea {
		border: none;
		background: transparent;
		font-size: 14px;
		min-height: initial;
		padding: 4px;
		align-self: stretch;

		&:focus, &:active {
			outline: none;
		}
	}
}

.live-chat-submit {
	align-self: flex-start;
	flex: 0 0 auto;
	border-radius: 4px;
	background: $blue-medium;
	color: $white;
	padding: 8px 16px;
	margin-left: 8px;
}

.live-chat-timeline-join-message {
	flex: 0 0 auto;
	padding: 4px 8px;
	color: $gray-dark;
	text-align: center;
}

.live-chat-timeline-message {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row-reverse;
	padding: 4px 8px;
	margin: 4px 0;

	.message-text {
		font-size: 14px;
		flex: 1;
		padding: 8px;
		border-radius: 8px 8px 8px 0;
		color: $white;
		background: $blue-medium;
		position: relative;

		p {
			margin: 8px 0;
			&:first-child { margin-top: 0 }
			&:last-child { margin-bottom: 0 }
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: -6px;

			// draw a triangle
			width: 0;
			height: 0;
			border-bottom: 6px solid $blue-medium;
			border-left: 6px solid transparent;
		}

	}

	.message-nick {
		font-weight: bold;
	}

	.message-meta {
		align-self: flex-end;
		margin: 0 8px 0 0;
	}

	.message-avatar {
		width: 32px;
		height: 32px;
		border-radius: 32px;
		background: darken( $gray-light, 10% );
		overflow: hidden;

		> img {
			width: 100%;
			height: auto;
		}

	}

	&.userMessage {
		flex-direction: row;

		.message-text {
			background: $white;
			color: $gray-dark;
			border-radius: 8px 8px 0 8px;

			&:after {
				left: auto;
				right: -6px;
	
				// draw a triangle
				width: 0;
				height: 0;
				border-bottom: 6px solid $white;
				border-left: none;
				border-right: 6px solid transparent;
			}

		}

		.message-meta {
			align-self: flex-end;
			margin: 0 0 0 8px;
		}

	}
}

.support-browser {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;

	&.disabled {
		display: none;
	}

	.browser-bar {
		height: 46px;
		background: $blue-medium;
		color: $white;
		text-align: center;
		border-bottom: 1px solid darken( $blue-medium, 5% );
		display: flex;
	}

	iframe {
		flex: 1 1 100%;
		width: 100%;
		height: 100%;
		background: hsla( 0, 0%, 0%, 0.1 );
	}

}
