/**
 * Live Chat
 */


.live-chat-container {
}

.live-chat__title {
	cursor: pointer;
	padding: 0 12px;

	background: $blue-medium;
	border-bottom: 1px solid darken( $blue-medium, 5% );
	color: $white;
	flex: 0 0 auto;
	height: 46px;
	line-height: 46px;
	display: flex;
	align-items: center;

	.live-chat__active-toolbar {
		display: flex;
		flex: 1 1 auto;

		:first-child {
			flex: 1;
			margin-left: 12px;
		}

		svg {
			padding: 11px;
			cursor: pointer;
		}

		svg:hover {
			background: lighten( $blue-medium, 5% );
		}

	}

}


/**
 * Collapsed button @todo: move to bottom of sidebar
 */

.live-chat {
	overflow: hidden;
	position: fixed;
	bottom: 12px;
	right: 12px;
	font-size: 14px;
}


/**
 * Base styles
 */

.live-chat.open {
	background: lighten( $gray, 30% );
	bottom: 0;

	.live-chat__title {
		cursor: default;
		padding: 0;
	}

}

.live-chat-conversation {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-bottom: 6px;

	&::before {
		content: '';
		flex: 1 1 auto;
	}

	// experiment: style scrollbars
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: lighten( $gray, 10% );
		border: 3px solid lighten( $gray, 30% );

		&:hover {
			background: $gray;
		}

	}

}

.live-chat-loading {
	flex: 1 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.live-chat-welcome {
	flex: 1 auto;
	padding: 16px;
	color: $gray-dark;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	p {
		margin: 0;
		padding: 0;
	}
}


/**
 * Chat composer
 */

.live-chat-composer {
	display: flex;
	flex: 0 0 auto;
	background: $white;
	box-shadow: 0 0 5px 1px rgba( 0,0,0, .1);
	position: relative;
}

.live-chat-message {
	flex: 1 1 auto;
	background: $white;
	border-radius: 4px;
	border: 0;

	> textarea {
		padding: 12px 12px 32px 12px;
		border: none;
		background: transparent;
		font-size: 14px;
		min-height: initial;
		align-self: stretch;
		resize: none;

		&:focus, &:active {
			outline: none;
			box-shadow: none;
		}
	}
}

.live-chat-submit {
	align-self: flex-start;
	flex: 0 0 auto;
	border-radius: 8px;
	background: $blue-medium;
	color: $white;
	padding: 4px 8px;
	margin: 8px 12px 0 0;
	cursor: pointer;

	> svg {
		fill: currentColor;
		display: block;
	}

	&:hover {
		background: lighten( $blue-medium, 10% );
	}

}

.live-chat-timeline-join-message {
	flex: 0 0 auto;
	padding: 4px 8px;
	color: $gray-dark;
	text-align: center;
}

.live-chat-timeline-message {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row-reverse;
	padding: 0 8px;
	margin: 6px 0;

	.message-text {
		font-size: 14px;
		flex: 1;
		padding: 8px;
		border-radius: 8px 8px 8px 0;
		color: $white;
		background: $blue-medium;
		position: relative;

		p {
			margin: 8px 0;
			&:first-child { margin-top: 0 }
			&:last-child { margin-bottom: 0 }
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: -6px;

			// draw a triangle
			width: 0;
			height: 0;
			border-bottom: 6px solid $blue-medium;
			border-left: 6px solid transparent;
		}

	}

	.message-nick {
		font-weight: bold;
	}

	.message-meta {
		align-self: flex-end;
		margin: 0 8px 0 0;
	}

	.message-avatar {
		width: 32px;
		height: 32px;
		border-radius: 32px;
		background: darken( $gray-light, 10% );
		overflow: hidden;

		> img {
			width: 100%;
			height: auto;
		}

	}

	&.userMessage {
		flex-direction: row;

		.message-text {
			background: $white;
			color: $gray-dark;
			border-radius: 8px 8px 0 8px;

			&:after {
				left: auto;
				right: -6px;
	
				// draw a triangle
				width: 0;
				height: 0;
				border-bottom: 6px solid $white;
				border-left: none;
				border-right: 6px solid transparent;
			}

		}

		.message-meta {
			align-self: flex-end;
			margin: 0 0 0 8px;
		}

	}
}

.support-browser {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;

	&.disabled {
		display: none;
	}

	.browser-bar {
		height: 46px;
		background: $blue-medium;
		color: $white;
		text-align: center;
		border-bottom: 1px solid darken( $blue-medium, 5% );
		display: flex;
	}

	iframe {
		flex: 1 1 100%;
		width: 100%;
		height: 100%;
		background: hsla( 0, 0%, 0%, 0.1 );
	}

}


/**
 * Sidebar mode
 */

@include breakpoint( ">1040px" ) {

	.live-chat.open {
		position: fixed;
		height: calc( 100% - 47px );
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;

		.live-chat-conversation,
		.live-chat-composer {
			border-left: 1px solid lighten( $gray, 25% );
		}

		.live-chat__active-toolbar {
			border-left: 1px solid darken( $blue-medium, 1% );
		}

	}

}


/**
 * Panel mode
 */

@include breakpoint( "480px-1040px" ) {

	.live-chat.open {
		box-shadow: 0 1px 2px rgba( 0,0,0,.2 ), 0 1px 10px rgba( 0,0,0, .1 );
		width: 280px;
	}

	.live-chat__title {
		height: 32px;
		line-height: 32px;

		.live-chat__active-toolbar {
	
			svg {
				padding: 4px 11px;
			}
	
		}

	}

	.live-chat-composer {

		.live-chat-message {
			height: 48px;
		}

		.live-chat-message > textarea {
			padding: 12px;
		}

	}

	.live-chat-conversation {
		min-height: 160px;
		max-height: 220px;
	}

}


/**
 * Mobile fullscreen mode
 */

@include breakpoint( "<480px" ) {

	.live-chat.open {
		position: fixed;
		top: 47px;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

}








