.live-chat-container {
	height: 100%;
}

// chat, when collapsed is little floating bit. @todo: may move to bottom of sidebar
.live-chat {
	position: absolute;
	bottom: 12px;
	right: 30px;
	font-size: 14px;
}

.live-chat__title {
	cursor: pointer;
	padding: 0 12px;

	background: $blue-medium;
	border-bottom: 1px solid darken( $blue-medium, 5% );
	color: $white;
	flex: 0 0 auto;
	height: 46px;
	line-height: 46px;
	display: flex;
	align-items: center;

	.live-chat__active-toolbar {
		display: flex;
		flex: 1 1 auto;

		:first-child {
			flex: 1;
			margin-left: 12px;
		}

		svg {
			padding: 11px;
			cursor: pointer;
		}

		svg:hover {
			background: lighten( $blue-medium, 5% );
		}

	}

}

// chat defaults to panel when opened
.live-chat.open {
	background: lighten( $gray, 30% );
	width: 280px;
	bottom: 0;

	.live-chat__title {
		cursor: default;
		padding: 0;
	}

}

// on big screens, dock to sidebar
@include breakpoint( ">1040px" ) {

	.live-chat.open {
		position: inherit;
		height: 100%;
		bottom: auto;
		right: auto;
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;

		.live-chat-welcome,
		.live-chat-conversation,
		.live-chat-composer {
			border-left: 1px solid lighten( $gray, 25% );
		}

	}

}

.live-chat-conversation {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	position: relative;

	&::before {
		content: '';
		flex: 1 1 auto;
	}

}

.live-chat-loading {
	flex: 1 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.live-chat-welcome {
	flex: 1 auto;
	padding: 16px;
	color: $gray-dark;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	p {
		margin: 0;
		padding: 0;
	}
}

.live-chat-composer {
	display: flex;
	padding: 8px;
	flex: 0 0 auto;
}

.live-chat-message {
	flex: 1 1 auto;
	background: $white;
	border-radius: 4px;
	border: 0;

	> textarea {
		border: none;
		background: transparent;
		font-size: 14px;
		min-height: initial;
		padding: 4px;
		align-self: stretch;

		&:focus, &:active {
			outline: none;
		}
	}
}

.live-chat-submit {
	align-self: flex-start;
	flex: 0 0 auto;
	border-radius: 4px;
	background: $blue-medium;
	color: $white;
	padding: 8px 16px;
	margin-left: 8px;
}

.live-chat-timeline-join-message {
	flex: 0 0 auto;
	padding: 4px 8px;
	color: $gray-dark;
	text-align: center;
}

.live-chat-timeline-message {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row-reverse;
	padding: 4px 8px;
	margin: 4px 0;

	.message-text {
		font-size: 14px;
		flex: 1;
		padding: 8px;
		border-radius: 8px 8px 8px 0;
		color: $white;
		background: $blue-medium;

		p {
			margin: 8px 0;
			&:first-child { margin-top: 0 }
			&:last-child { margin-bottom: 0 }
		}

	}

	.message-nick {
		font-weight: bold;
	}

	.message-meta {
		align-self: flex-end;
		margin: 0 4px;
	}

	.message-avatar {
		width: 32px;
		height: 32px;
		border-radius: 32px;
		background: darken( $gray-light, 10% );
		overflow: hidden;

		> img {
			width: 100%;
			height: auto;
		}

	}

	&.userMessage {
		flex-direction: row;

		.message-text {
			background: $white;
			color: $gray-dark;
			border-radius: 8px 8px 0 8px;
		}

	}
}

.support-browser {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;

	&.disabled {
		display: none;
	}

	.browser-bar {
		height: 46px;
		background: $blue-medium;
		color: $white;
		text-align: center;
		border-bottom: 1px solid darken( $blue-medium, 5% );
		display: flex;
	}

	iframe {
		flex: 1 1 100%;
		width: 100%;
		height: 100%;
		background: hsla( 0, 0%, 0%, 0.1 );
	}

}

/**
 * For live-chat sidebar demonstration purposes
 * in order to put livechat as a peer to the entire calypso UI
 * the main calypso app needs to be contained within it's own node
 *
 * @todo: submit this refactor as separate calypso pr to fix ticket to 
 * start scrollbar under masterbar. Needs inf scroll to work first.
 */

html {
	overflow-y: hidden;
}

body {
	overflow: hidden;
}

.app-anchor {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.wp.layout {
	position: relative;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;

	&.support-url {
		display: none;
	}

}

.wp-content {
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: flex;
	flex: 1 1 auto;
}

header.masterbar {
	position: relative;
	flex: 0 0 auto;
}

ul.sidebar {
	position: relative;
	width: auto;
	top: 0px;
	flex: 1 1 auto;
	align-self: flex;
}

#primary {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

#secondary {
	flex: 1 1 auto;
	order: -1;
	position: relative;
	display: flex;
	max-width: 272px;
}

.wp-secondary .site-selector {
	position: absolute;
	width: 100%;
	right: 100%;
	left: auto;
	top: 0px;
}

.focus-sites .wp-secondary .site-selector {
	transform: translateX(100%);
}

.sites-navigation {
	position: relative;
	flex: 1 1 auto;
	align-self: stretch;
	display: flex;
}

.scrollable-reader {
	flex: 1 1 auto;
	align-self: stretch;
	overflow: auto;
	padding: 32px;
}

@include breakpoint( "<960px" ) {

	.scrollable-reader {
		padding: 24px;
	}

}

.wp-content:after {
    content: none;	// both unnecessary with flex, but it also breaks the layout
}